:root {
  --primary-color: #202024;
  --secondary-color: #29292e;
  --black-color: #0d0d0d;
  --green-1-color: #04d361;
  --green-2-color: rgb(105, 189, 91);
  --green-3-color: rgba(164, 240, 151, 0.5);
  --blue-color: #4863f7;
  --blue-2-color: rgba(78, 151, 191, 0.5);
  --blue-3-color: rgb(78, 151, 191);
  --text-1-color: #fff;
  --text-2-color: #e1e1e6;
  --text-3-color: #a8a8b3;
  --text-4-color: #414142;
  --hover-gray-color: rgba(225, 225, 230, 0.04);
  --border-color: rgba(255, 255, 255, 0.2);
  --red-1-color: rgba(189, 21, 43, 0.3);
  --red-2-color: rgb(189, 21, 43);
  --yellow-1-color: rgba(237, 227, 81, 0.5);
  --yellow-2-color: rgb(237, 227, 81);
}
