:root {
  --primary-color: #202024;
  --secondary-color: #29292e;
  --green-1-color: #04d361;
  --green-2-color: #405240;
  --blue-color: #4863f7;
  --text-1-color: #fff;
  --text-2-color: #e1e1e6;
  --text-3-color: #a8a8b3;
  --text-4-color: #414142;
  --hover-gray-color: rgba(225, 225, 230, 0.04);
}
