<aside class="sidebar">
  <h2>
    <mat-icon> attach_money</mat-icon>
    FinApp
  </h2>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">
          <mat-icon> bar_chart</mat-icon>
          Overview
        </a>
      </li>
      <li>
        <a routerLink="/expenses">
          <mat-icon>credit_card</mat-icon>
          Despesas
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon>note_add</mat-icon>
          Registros
        </a>
      </li>
      <li>
        <a routerLink="/categories">
          <mat-icon>edit</mat-icon>
          Categorias
        </a>
      </li>
      <li>
        <a href="#">
          <mat-icon> message</mat-icon>
          Mensagens
        </a>
      </li>
    </ul>
  </nav>

  <footer class="sidebar__footer">
    <a href="#">
      <mat-icon>settings</mat-icon>
      Settings
    </a>
    <a href="#">
      <mat-icon>exit_to_app</mat-icon>
      Log out
    </a>
  </footer>
</aside>
