@import "../../../config-scss/rem-calc.scss";

:host {
  .main {
    background-color: var(--black-color);
    height: 100%;
    margin-left: 13vw;
    width: 87vw;
  }

  .card {
    border-radius: rem-calc(7);
    display: grid;
    gap: rem-calc(10);
    grid-template-columns: repeat(4, 1fr);
    margin: rem-calc(50);
  }

  .card__info {
    background-color: #161515;
    border-radius: rem-calc(10);
    height: 100%;
    padding: rem-calc(50) rem-calc(30);

    h4 {
      color: var(--text-1-color);
      font-size: rem-calc(20);
      margin-bottom: 30px;
    }

    p {
      color: var(--text-2-color);
      font-size: rem-calc(26);
      font-weight: 500;
    }
  }

  .danger {
    background-color: var(--red-1-color);
    border: 3px solid var(--red-2-color);
  }

  .variable {
    background-color: var(--blue-2-color);
    border: 3px solid var(--blue-3-color);
  }

  .warning {
    background-color: var(--yellow-1-color);
    border: 3px solid var(--yellow-2-color);
  }

  .success {
    background-color: var(--green-3-color);
    border: 3px solid var(--green-2-color);
  }
}
