<sidebar></sidebar>
<div class="main">
  <app-header msg="Bem vindo de volta, João"></app-header>
  <section class="card">
    <div class="card__info danger">
      <h4>Despesas fixas</h4>
      <p>R$ 3.845,65</p>
    </div>
    <div class="card__info warning">
      <h4>Despesas variáveis</h4>
      <p>R$ 864,35</p>
    </div>
    <div class="card__info success">
      <h4>Renda fixa</h4>
      <p>R$ 7.950,00</p>
    </div>
    <div class="card__info variable">
      <h4>Renda variável</h4>
      <p>R$ 550,00</p>
    </div>
  </section>
</div>
